body{
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 150px;
}
p{
    font-size: 50px;
}

.textcenter{
     text-align: center;
}
.knopka{
    padding: 7px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.knopka:hover{
    background-color: #2b2b2b;
    cursor: pointer;
}